[submodule ".vim/bundle/vim-skeleton"]
	path = .vim/bundle/vim-skeleton
	url = https://github.com/noahfrederick/vim-skeleton.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
